<div style="margin-top: 50px;">
<ul>
                  {% for audio in page.audios %}
                  {% for audio_info in audio %}
                  <li>
                    {% if audio_info[0] == "MP3" %}
                    {% assign podinfo = audio_info[1] %}
                    <a href="{{ podinfo[0].file }}">Programa em MP3</a>
                    {% else %}
                    <a href="{{ audio_info[1] }}">Programa em {{audio_info[0]}}</a>
                    {% endif %} 
                  </li>
                  {% endfor %}
                  {% endfor %}
{% include podcast_text.html %}
</ul>
</div>
