<li> <strong>Participantes:</strong>
  <ul>
    {% for host in page.hosts %}
    <li>{{ host | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endfor %}
  </ul>
<li> <strong>Duração:</strong> {{page.podcast_time}}
  {% if page.events %}
<li> <strong>Cronologia do Podcast:</strong>
  <ul>
    {% for event in page.events %}
    <li><strong>({{event.time}}) - </strong> {{ event.text | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endfor %}
  </ul>
  {% endif%}


  {% if site.data.podcast %}
<li><a href="{{ site.data.podcast.mastodon }}">Link para o perfil na Mastodon do {{site.data.podcast.name}}</a>
  {% endif %}
  {% for link in site.data.podcast.feeds %}
<li>
  <a href="{{ link.link }}">Assine o {{site.data.podcast.name}} em {{link.format}}</a> | 
  <a href="http://subscribeonandroid.com/{{ link.link | replace:'https://',''   | replace:'http://',''  }}">Subscribe on Android ({{link.format}})</a>
</li>
{% endfor %}
{% if site.data.podcast.itunes.link %}<li><a href="{{ site.data.podcast.itunes.link }}">Assine no iTunes</a></li>{% endif %}

{% if page.related_links %}
<li><strong><i>Links</i> Relacionados:</strong></li>
<ul>
  {% for link in page.related_links %}
  <li>
    <a href="{{ link.link }}">{{ link.text  | markdownify | remove: '<p>' | remove: '</p>' }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% if page.soundtrack %}
<li><strong>Trilha Sonora do Podcast:</strong></li>
<ul>
  {% for music in page.soundtrack %}
  <li><a href="{{ music.link }}">{{ music.music}}{% if music.artist %} por {{ music.artist }}{% endif %}</a>
    {% endfor %}
</ul>
{% endif %}

