<div class="sidebar">
  <div class="podcast-contacts">
   
        {% if site.data.podcast %}
{% if site.data.podcast.gpluspage %}
<a href="{{site.data.podcast.gpluspage}}"><span class="fab fa-google-plus-square"></span></a>
 {% endif %}
{% if site.data.podcast.spotify %}
<a href="{{site.data.podcast.spotify}}"><span class="fab fa-spotify"></span></a>
 {% endif %}
{% if site.data.podcast.itunes.link %}
<a href="{{site.data.podcast.itunes.link}}"><span class="fab fa-itunes"></span></a>
 {% endif %}
{% if site.data.podcast.feeds %}
{% for link in site.data.podcast.feeds %}
                  <a href="http://subscribeonandroid.com/{{ link.link | replace:'http://',''  }}"><span class="fas fa-podcast"></span></a>
{% endfor %}
{% if site.data.podcast.itunes.email %}
<a href="mailto:{{site.data.podcast.itunes.email}}"><span class="fas fa-at"></span></a>
 {% endif %}
{% if site.data.podcast.facebookpage %}
<a href="{{site.data.podcast.facebookpage}}"><span class="fab fa-facebook-square"></span></a>
 {% endif %}
{% if site.data.podcast.discordserver1 %}
<a href="{{site.data.podcast.discordserver1}}"><span class="fab fa-discord"></span></a>
 {% endif %}
{% if site.data.podcast.discordserver2 %}
<a href="{{site.data.podcast.discordserver2}}"><span class="fab fa-discord"></span></a>
 {% endif %}
{% if site.data.podcast.whatsappgroup %}
<a href="{{site.data.podcast.whatsappgroup}}"><span class="fab fa-whatsapp-square"></span></a>
 {% endif %}
{% if site.data.podcast.telegramgroup %}
<a href="{{site.data.podcast.telegramgroup}}"><span class="fab fa-telegram-plane"></span></a>
 {% endif %}
{% if site.data.podcast.googlepodcast %}
<a href="{{site.data.podcast.googlepodcast}}"><span class="fas fa-podcast"></span></a>
 {% endif %}
{% if site.data.podcast.mastodon %}
<a rel="me" href="{{ site.data.podcast.mastodon }}">
<i class="fa-brands fa-mastodon" alt="Mastodon"></i>
</a>
{% endif %}
{% if site.data.podcast.mastodon2 %}
<a rel="me" href="{{ site.data.podcast.mastodon2 }}">
<i class="fa-brands fa-mastodon" alt="Mastodon"></i>
</a>
{% endif %}
{% if site.data.podcast.bluesky %}
<a rel="me" href="{{ site.data.podcast.bluesky }}">
<i class="fa-brands fa-bluesky" alt="Bluesky"></i>
</a>
{% endif %}
{% endif %}
        {% endif %}
  </div>
  <div class="container sidebar-sticky">
    <img src="{{ site.data.podcast.itunes.podcast_image }}" alt="{{ site.data.podcast.name }}"/>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
{% comment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
{% endcomment %}
  </div>
</div>
