---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-date">Por {{ page.author }}</span>
  {{ content }}
  {% if page.contacts %}
  <div class="social-networks">
    {% if page.contacts.email %}
    <a href="mailto:{{ page.contacts.email }}">&#xe224;
    </a>
    {% endif %}
    {% if page.contacts.telegram %}
    <a href="https://t.me/{{ page.contacts.telegram }}">&#xe249;
    </a>
    {% endif %}
    {% if page.contacts.facebook %}
    <a href="http://facebook.com/{{ page.contacts.facebook }}">&#xe227;
    </a>
    {% endif %}
    {% if page.contacts.twitter %}
    <a href="http://twitter.com/{{ page.contacts.twitter }}">&#xe286;
    </a>
    {% endif %}
    {% if page.contacts.googleplus %}
    <a href="http://plus.google.com/{{ page.contacts.googleplus }}">&#xe239;
    </a>
    {% endif %}
    {% if page.contacts.linkedin %}
    <a href="http://linkedin.com/{{ page.contacts.linkedin }}">circlelinkedin
    </a>
    {% endif %}
    {% if page.contacts.youtube %}
    <a href="http://youtube.com/{{ page.contacts.youtube }}">circleyoutube
    </a>
    {% endif %}
    {% if page.contacts.instagram %}
    <a href="http://instagram.com/{{ page.contacts.instagram }}">circleinstagram
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
