---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title | markdownify }}</h1>
  <h2 class="page-subtitle">{{ page.subtitle | default: page.subheadline }}</h1>
  {{ content }}
</div>
